.email-index * {
    font-size: 14px;
    color: var(--txt-color-primary);
}

.email-index {
    flex: 1;
    background-color: var(--container-bg);
    position: relative;
}

main .email-main {
    display: grid;
    grid-template-columns: minmax(72px, 256px) 1fr 56px;
    grid-auto-rows: calc(100vh - 62px - 64px - 48px);
}