section.email-list-container {
    background: white;
    border-radius: 16px;
    overflow-y: scroll;
    position: relative;
    margin-bottom: 16px;
}

.email-list-header {
    position: sticky;
    top: 0;
    z-index: 3;
    background: white;
    height: 48px;
}

/* email list item */

li.email-list-item {
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    cursor: pointer;
    height: 40px;
    position: relative;
}

li.email-list-item:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
}

li.email-list-item>a {
    width: 100%;
    display: inline-block;
}

li.email-list-item>a article {
    display: grid;
    grid-template-columns: 168px 1fr 100px;
}

li.email-list-item .email-content {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}

li.email-list-item .email-from {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-weight: 700;
}

li.email-list-item .email-subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-weight: 700;
}

li.email-list-item .email-body {
    color: var(--txt-color-secondery);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

li.email-list-item .dash {
    color: var(--txt-color-secondery);
    width: 13px;
    display: inline-block;
    text-align: center;
}

li.email-list-item .email-sentAt {
    font-size: 12px;
    color: var(--txt-color-secondery);
    text-align: right;
    padding-right: 16px;
    font-weight: 700;
}

/* email list is read*/

li.email-list-item.isRead {
    background-color: #f2f6fc;
}

li.email-list-item.isRead .email-from,
li.email-list-item.isRead .email-subject,
li.email-list-item.isRead .email-sentAt {
    font-weight: 500;
}

/* email item icons */

li.email-list-item .email-selection-btns>div,
li.email-list-item .email-actions>div {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

li.email-list-item .email-actions>div {
    width: 40px;
    height: 40px;
}

li.email-list-item .email-actions {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 6px;
}

li.email-list-item:hover .email-actions {
    display: flex;
}

li.email-list-item:hover .email-sentAt {
    display: none;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: "";
    display: block;
    opacity: 0;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: none;
    transition-property: transform, opacity;
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    width: 40px;
    height: 40px;
}

.email-selection-btns>[data-tooltip]::after {
    bottom: -10px;
    left: -10px;
    right: -10px;
    top: -10px;
}

[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgb(32 33 36 / 83%);
    color: white;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 500;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    display: none;
    width: max-content;
}

.email-selection-btns>[data-tooltip]::before {
    bottom: -10px;
}

.email-selection-btns>.email-drag-handle {
    background-image: url(../../imgs/drag-handle.png);
    opacity: 0;
}

.email-selection-btns>.email-checbox {
    background-image: url(../../imgs/checkbox.png);
    opacity: 0.32;
    margin-right: 10px;
}

.email-selection-btns>.email-star {
    background-image: url(../../imgs/star-empty.png);
    opacity: 0.32;
    margin-right: 10px;
}

.email-selection-btns>.email-star.checked {
    background-image: url(../../imgs/star-full.png);
}

.email-actions>.email-archive {
    background-image: url(../../imgs/archive.png);
}

.email-actions>.email-delete {
    background-image: url(../../imgs/delete.png);
}

.email-actions>.email-read {
    background-image: url(../../imgs/envelop-open.png);
}

.email-actions>.email-read.checked {
    background-image: url(../../imgs/envelop-close.png);
}

.email-actions>.email-snooze {
    background-image: url(../../imgs/snooze.png);
}

/*email item icons - hover state */
li.email-list-item:hover .email-drag-handle {
    opacity: 0.32;
}

li.email-list-item:hover .email-checbox {
    opacity: 1;
}

li.email-list-item:hover .email-star {
    opacity: 1;
}

[data-tooltip]:hover::after {
    background-color: rgba(32, 33, 36, 0.059);
    opacity: 1;
    transform: scale(1);
}

[data-tooltip]:hover::before {
    display: block;
}