.email-header {
    display: grid;
    grid-template-columns: 256px 1fr;
    padding: 8px;
}

.email-header .main-menu-btn {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 0 4px;
    padding: 12px;
    cursor: pointer;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
}

.email-header .main-menu-btn>span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: var(--txt-color-secondery);
}

.email-header .gmail-logo {
    width: 109px;
    height: 40px;

}

.email-header .email-filter {
    max-width: 720px;
    position: relative;
}

.email-header input#search {
    background-color: #eaf1fb;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 500;
    height: 46px;
    max-width: 720px;
    width: 100%;
    padding: 0 48px;
}

.email-header input#search:focus-visible {

    background: white;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, .3), 0 1px 3px 1px rgba(65, 69, 73, .15);
    outline: none;
}

.email-header .email-filter label {
    position: relative;
}

.email-header .email-filter .icon-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.email-header .email-filter .icon-btn[data-tooltip]::after {
    width: 36px;
    height: 36px;
}

.email-header .email-filter .icon-btn:first-child {
    left: 6px;
}

.email-header .email-filter .icon-btn:last-child {
    right: 6px;
}

.email-filter-form {
    display: none;
    background: white;
    position: absolute;
    z-index: 11;
    width: 100%;
    padding: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .2);
}

.email-filter-form.show {
    display: block;
}